.Home-main {
  min-height: 75vh;
  background-color: #3d34eb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/home.jpg");
  background-size: "cover";
  background-position: "center";
  padding-bottom: var(--section-padding);
}

.intro {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 5em;
  width: 60%;
}
